:root {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(120deg, #000000, #a31d05,#000000);
}

#app {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
